{% extends 'base.html' %}
{% block content %}
<h1>Welcome to Galacticos Shop!</h1>

<p><i>Created by Nicholas Vesakha (2406495804)</i></p>

<h5>NPM:</h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

{% if not products %}
<p>Belum ada produk di Galacticos Shop.</p>
{% else %}

{% for product in products %}
<div>
  <h2>
    <a href="{% url 'main:show_product' product.id %}">
      {{ product.name }}
    </a>
  </h2>

  <p>Rp{{ product.price }}</p>
  <p>{{ product.description|truncatewords:25 }}...</p>

  <p>
    <a href="{% url 'main:show_product' product.id %}">
      <button>View Detail</button>
    </a>
  </p>
</div>

<hr>
{% endfor %}

{% endif %}
{% endblock content %}